<div class="jumbotron">
  <h1>Open Todo API</h1>
  <p>An externally usable API for basic todo list application.</p>
  <p>
    <%= link_to "Log In", "#", class: 'btn btn-primary' %>
    or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <h2>Modify</h2>
    <p>user accounts and todo items from the command line.</p>
  </div>
  <div class="col-md-4">
    <h2>Simple</h2>
    <p>while remaining flexible to use.</p>
  </div>
  <div class="col-md-4">
    <h2>Support</h2>
    <p>other platforms and allow programmers to build on the tool.</p>
  </div>
</div>